nom de la balise
div {}
#toto{}

toto a
toto > a colo #555



fatou > a
<div class = "toto">
<a>
<a>
    <div class = 'fatou'>
    <a>
    <a>
    <div>

    les unités de mesures:
    les valeur absolue(cmn mm)
    les valeurs relatives(px, em, y)