<table>
    <thead>
        <tr>
            <th> </th>
        </tr>
    </thead>
    <tfoot>
        <p> test </p>
    </tfoot>
    <tbody>
    Monsieur <input type = 'radio' value = '1' name = 'Civilité'>
    Madame <input type = 'radio' value = '2' name = 'Civilité'>
    </tbody>
</table>